<h1>Stupid Coaching</h1>
take_screenshot
<blocquote>
    <cite>Your question: </cite>
    <p><%= @question %></p>
</blocquote>

<blocquote>
    <cite>Coach answers: </cite>
    <p><%= @answer %></p>
</blocquote>

<%= link_to 'Ask another question?', '/ask' %>