<h1>Stupid Coaching</h1>
take_screenshot
<blocquote>
    <cite>Your question: </cite>
    <p><%= @question %></p>
</blocquote>

<blocquote>
    <cite>Coach answers: </cite>
    <p><%= @answer %></p>
</blocquote>

<%= link_to 'Ask another question?', '/ask' %>
<%= image_tag 'Screenshot 2020-01-16 at 17.13.11', alt: "toto" %>

<!--
document.querySelector('img').scr | getAttribute('scr') ne fonctionne pas
document.querySelector('img').alt ou
document.querySelector('img').getAttribute('alt')

-->